{{!-- Header --}}
    <div class="product-details">
        <section>
            <h3>Beats Solo Wireless Headpones</h3>
            <div class="text-primary">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
        </section>

        {{!-- Price --}}
        <section>
            <del class="small text-block-50">$199.95</del>
            <b><i class="text-danger">$99.98</i></b>
        </section>
    </div>